<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netlink.pangu.dao.QaAnswerEvaluateMapper">
  <resultMap id="BaseResultMap" type="com.netlink.pangu.domain.QaAnswerEvaluate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="answer_id" jdbcType="BIGINT" property="answerId" />
    <result column="evaluate" jdbcType="TINYINT" property="evaluate" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, user_id, user_name, answer_id, evaluate, is_delete, gmt_created, gmt_modified
  </sql>
</mapper>