<?xml version="1.0" encoding="UTF-8"?>
<!-- 只需配置好 log.dir 和 appName 属性-->
<configuration debug="false">
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<springProperty scope="context" name="appName" source="spring.application.name"/>
	<property name="log.dir" value="/alidata1/admin/"/>

	<appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/${appName}/logs/${HOSTNAME}_${appName}-ss_micro_app_${appName}_lt_info.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/${appName}/logs/${HOSTNAME}_${appName}-ss_micro_app_${appName}_lt_info_%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d [%thread] %-5p [%c] [%F:%L] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/${appName}/logs/${HOSTNAME}_${appName}-ss_micro_app_${appName}_lt_error.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/${appName}/logs/${HOSTNAME}_${appName}-ss_micro_app_${appName}_lt_error_%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d [%thread] %-5p [%c] [%F:%L] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder charset="UTF-8">
			<pattern>%d [%thread] %-5p [%c] - %msg%n</pattern>
		</encoder>
	</appender>

	<!--日志收集-->
	<logger name="org.apache">
		<level value="INFO"/>
		<appender-ref ref="infoAppender"/>
		<appender-ref ref="errorAppender"/>
	</logger>

	<logger name="org.springframework">
		<level value="INFO"/>
		<appender-ref ref="infoAppender"/>
		<appender-ref ref="errorAppender"/>
	</logger>

	<logger name="com.netlink">
		<level value="INFO"/>
		<appender-ref ref="infoAppender"/>
		<appender-ref ref="errorAppender"/>
	</logger>

	<logger name="com.netflix">
		<level value="INFO"/>
		<appender-ref ref="infoAppender"/>
		<appender-ref ref="errorAppender"/>
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="errorAppender"/>
	</root>
</configuration>